/* Body */

.main {
  font-size: 1.1em;
  background-image: url("background.jpg");
  font-family: "Trebuchet MS", sans-serif;
}

.grid_container {
  display: grid;
  grid-template-columns: 30% auto;
}

.item {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding-left: 40px;
  padding-right: 40px;
  font-size: 30px;
  text-align: left;
}

.line {
  height: 3px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 0.3s ease;
}

.header {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin-bottom: 1%;
}
.sub_header {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.history {
  text-align: left;
  padding-top: 1%;
  padding-bottom: 1%;
}
.li_history {
  margin: 0;
  padding: 0;
  display: inline;
  padding-right: 2%;
  padding-left: 2%;
}
.ul_history {
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.img_history {
  width: 16%;
  height: auto;
}

.ullist {
  display: none;
  list-style-type: none;
}
.ullist_title {
  background-color: rgb(60, 150, 216); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 5%;
}

.image {
  display: block;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Left */
.left {
  margin-top: 5%;
}
/* Search bar*/

.search {
  background-color: rgb(60, 150, 216); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 5%;
  margin-bottom: 50px;
}
.search_bar {
  margin-top: 50px;
}
/* Button */

.list {
  margin-top: 5%;
}
/*Options chosen*/
.option {
  margin-bottom: 5%;
  margin-top: 5%;
}
.option_list {
  display: none;
  margin-left: 5%;
}

/*Big button */

.big_button {
  margin-top: 20%;
  margin-bottom: 10%;
  background-color: rgb(94, 14, 7); /* Green */
  border: none;
  color: white;
  padding: 32px 47px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin-left: 30%;
}

/* Right */

.graphe {
  background-color: aliceblue;
  border-radius: 50px;
}

.title {
  text-align: center;
  padding-top: 3%;
}
.texte {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 3%;
}

/* Menu */

.menu {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 10px 0;
  white-space: nowrap;
  background-color: rgb(0, 0, 0);
  margin-top: 1%;
  padding-right: 4%;
  padding-left: 4%;
  margin-bottom: 1%;
}

.menuItem:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
  background-color: rgb(200, 200, 200);
  color: black;
}

.menuItem {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: aliceblue;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menuItem.active {
  background-color: aliceblue;
  color: black;
}

/* footer */

.footer {
  background-color: rgb(9, 31, 64);
  color: #737373;
}

.footer_links {
  list-style: none;
}

.grid {
  display: grid;
  grid-template-columns: 30% 25% 20% auto;
  padding: 10px;
}
.item_footer {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 0.9em;
  text-align: left;
}

/*footer left*/
.contact {
  padding: 1%;
}

.article {
  columns: 2;
  margin-top: 5px;
  margin-bottom: 5px;
}

.right_footer {
  text-align: right;
}
.left_footer {
  text-align: left;
  margin-left: 5%;
}

.icon_container {
  text-align: right;
  align-items: center;
  margin-right: 25%;
}

.icon {
  width: 10%;
  height: auto;
}
/*footer center*/

.padding {
  padding-left: 4%;
  padding-right: 4%;
  line-height: 1.5em;
}

.row {
  text-decoration: none;
}
.row:link {
  color: red;
}

.row:visited {
  color: green;
}

.row:hover {
  color: hotpink;
}

/*Easter Egg*/

.item_footer_egg {
  background-color: black;
  color: aliceblue;
  text-align: center;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.egg {
  margin-top: 20%;
  margin-bottom: auto;
}
.egg_img {
  width: 0.5%;
  height: auto;
  position: absolute;
  top: 17%;
  left: 5%;
}
/*footer right*/

.data_gouv {
  width: 50%;
  height: auto;
}

.data_gouv_ensemble {
  text-align: right;
  display: block;
  padding-right: 5%;
  line-height: 1.2em;
}

/*footer bottom*/

.footer_bottom {
  text-align: center;
  padding: 1%;
  color: aliceblue;
}
